name: CI
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

env:
  UPSTREAM_REF_APWORLD: 58909134ed940a7d52b2f2333e339cc344c987be
  UPSTREAM_REF_FUZZER: 08a26bc8170fa2b49f805511f499a22e626daa40

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          repository: ArchipelagoMW/Archipelago
      - uses: actions/checkout@v4
        with:
          path: patches
      - uses: actions/checkout@v4
        with:
          repository: Cynichill/DivaAPworld
          path: worlds/megamix
          ref: ${{ env.UPSTREAM_REF_APWORLD }}
      
      - name: Install uv
        uses: astral-sh/setup-uv@v6
        with:
          version: "latest"
          python-version: 3.12
          enable-cache: true

      - name: Archipelago | Setup
        run: |
          find ./worlds -mindepth 1 -maxdepth 1 -type d -regextype posix-extended ! -regex '.*/(megamix|generic|alttp)' -exec rm -rf {} \;
          uv venv
          uv pip install pip pytest pytest-subtests pytest-xdist
          find -name requirements.txt | xargs -n1 uv pip install -r
          #uv run cythonize -a -i _speedups.pyx # 3.11-
          uv run python ModuleUpdate.py --yes --force --append "WebHostLib/requirements.txt"
          uv run python Launcher.py --update_settings         

      - name: World | Apply early diffs
        run: |
          echo "Applying diffs on upstream hash ${{ env.UPSTREAM_REF }}"
          [ ! -d ./patches/diffs/early ] || [ -z "$( ls -A ./patches/diffs/early/*.diff )" ] && exit 0
          cd ./worlds/megamix
          git apply --ignore-space-change --ignore-whitespace -v ../../patches/diffs/early/*.diff

      - name: World | Apply late diffs
        run: |
          [ ! -d ./patches/diffs/late ] || [ -z "$( ls -A ./patches/diffs/late/*.diff )" ] && exit 0
          cd ./worlds/megamix
          git apply --ignore-space-change --ignore-whitespace -v ../../patches/diffs/late/*.diff

      - name: World | Generate Template
        run: |
          uv run python Launcher.py "Generate Template Options"
          cp "./Players/Templates/Hatsune Miku Project Diva Mega Mix+.yaml" .

      - name: World | Fuzzer
        run: |
          curl "https://raw.githubusercontent.com/Eijebong/Archipelago-fuzzer/${{ env.UPSTREAM_REF_FUZZER }}/fuzz.py" > fuzz.py
          uv run python fuzz.py -g megamix -j 2 -r 100

      - name: World | General tests
        run: |
          uv run pytest test/general worlds/megamix

      - name: World | Zip
        run: |
          rm -rf worlds/megamix/.git* worlds/megamix/*.yaml worlds/megamix/__pycache__ worlds/megamix/.idea worlds/megamix/sorted_mod_pv_db.txt worlds/megamix/docs
          7z a -tzip -mm=deflate64 -mfb=257 -mx9 -mtc- -mta- -mtm- megamix.apworld ./worlds/megamix/

      - name: World | Artifact
        uses: actions/upload-artifact@v4
        with:
          name: artifact-apworld
          path: |
            megamix.apworld
            Hatsune Miku Project Diva Mega Mix+.yaml

      - name: World | Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        if: github.event_name == 'workflow_dispatch'
        run: |
          BASE=$(curl https://api.github.com/repos/Cynichill/DivaAPworld/releases | jq -cr '[.[] | select(.assets[].browser_download_url | endswith(".apworld"))][0].tag_name')
          DATE=$(date +"%y%m%d") # T%H%M%S
          SHAONE=$(sha1sum megamix.apworld); SHAONE="\`${SHAONE}\`"
          TAG=$(cd patches && git rev-parse --short HEAD)
          echo -e ":warning: THIS IS AN UNOFFICIAL VERSION OF THE WORLD, USUALLY WITH PENDING CHANGES TO TEST IN ADVANCE\n\nSHA1 ${SHAONE}\nDiffs applied on upstream hash [${{ env.UPSTREAM_REF_APWORLD }}](https://github.com/Cynichill/DivaAPworld/commit/${{ env.UPSTREAM_REF_APWORLD }})" > newlines_hard.txt
          RELEASE_TAG="${BASE}-R_${DATE}-${TAG}"
          gh release create "$RELEASE_TAG" \
              --repo="$GITHUB_REPOSITORY" \
              --title="$TITLE" \
              --target=main \
              --generate-notes \
              --notes-file newlines_hard.txt \
              megamix.apworld \
              "Hatsune Miku Project Diva Mega Mix+.yaml"
          echo "Released as [$RELEASE_TAG](https://github.com/RePod/DivaAPworld-R/releases/tag/$RELEASE_TAG)" >> $GITHUB_STEP_SUMMARY
