name: CI
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

env:
  UPSTREAM_REF: bae92f91478790e8cac1a787e88a2ff4f4417dcf

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          repository: ArchipelagoMW/Archipelago
      - uses: actions/checkout@v4
        with:
          path: patches
      - uses: actions/checkout@v4
        with:
          repository: Cynichill/DivaAPworld
          path: worlds/megamix
          ref: ${{ env.UPSTREAM_REF }}
      
      - uses: actions/setup-python@v5
        with:
          python-version: 3.12
          cache: 'pip'

      - name: Archipelago | Setup
        run: |
          find ./worlds -mindepth 1 -maxdepth 1 -type d -regextype posix-extended ! -regex '.*/(megamix|generic|alttp)' -exec rm -rf {} \;
          python -m pip install --upgrade pip
          pip install pytest pytest-subtests pytest-xdist
          python ModuleUpdate.py --yes --force --append "WebHostLib/requirements.txt"
          python Launcher.py --update_settings         

      - name: World | Apply early diffs
        run: |
          echo "Applying diffs on upstream hash ${{ env.UPSTREAM_REF }}"
          [ ! -d ./patches/diffs/early ] || [ -z "$( ls -A ./patches/diffs/early/*.diff )" ] && exit 0
          cd ./worlds/megamix
          git apply --ignore-space-change --ignore-whitespace -v ../../patches/diffs/early/*.diff

      - name: World | Apply late diffs
        run: |
          [ ! -d ./patches/diffs/late ] || [ -z "$( ls -A ./patches/diffs/late/*.diff )" ] && exit 0
          cd ./worlds/megamix
          git apply --ignore-space-change --ignore-whitespace -v ../../patches/diffs/late/*.diff

      - name: World | Generate Template
        run: |
          python Launcher.py "Generate Template Options"
          ls -la Players/Templates
          cp "./Players/Templates/Hatsune Miku Project Diva Mega Mix+.yaml" .

      - name: World | Fuzzer
        run: |
          curl "https://raw.githubusercontent.com/Eijebong/Archipelago-fuzzer/refs/heads/main/fuzz.py" > fuzz.py
          python fuzz.py -g megamix -j 2 -r 100

      - name: World | General tests
        run: |
          pytest test/general worlds/megamix

      - name: World | Zip
        run: |
          rm -rf worlds/megamix/.git* worlds/megamix/*.yaml worlds/megamix/__pycache__/ worlds/megamix/.idea/ worlds/megamix/sorted_mod_pv_db.txt morlds/megamix/docs/
          7z a -tzip megamix.apworld ./worlds/megamix/

      - name: World | Artifact
        uses: actions/upload-artifact@v4
        with:
          name: artifact-apworld
          path: |
            megamix.apworld
            Hatsune Miku Project Diva Mega Mix+.yaml

      - name: World | Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        if: github.event_name == 'workflow_dispatch'
        run: |
          BASE=$(wget -q -O - https://api.github.com/repos/Cynichill/DivaAPworld/releases | jq -cr '[.[] | select(.assets[].browser_download_url | endswith(".apworld"))][0].tag_name')
          DATE=$(date +"%y%m%d") # T%H%M%S
          TAG=$(cd patches && git rev-parse --short HEAD)
          echo -e ":warning: THIS IS AN UNOFFICIAL VERSION OF THE WORLD, USUALLY WITH PENDING CHANGES TO TEST IN ADVANCE\n\nDiffs applied on upstream hash [${{ env.UPSTREAM_REF }}](https://github.com/Cynichill/DivaAPworld/commit/${{ env.UPSTREAM_REF }})" > newlines_hard.txt
          gh release create "${BASE}-R_${DATE}-${TAG}" \
              --repo="$GITHUB_REPOSITORY" \
              --title="$TITLE" \
              --target=main \
              --generate-notes \
              --notes-file newlines_hard.txt \
              megamix.apworld \
              "Hatsune Miku Project Diva Mega Mix+.yaml"
