name: CI
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

env:
  ROUNDS: 1
  ARCHIPELAGO: /tmp/Archipelago/
  TMP_WORLD: /tmp/megamix/
  LIB_WORLD: "$ARCHIPELAGO/lib/worlds/megamix/"
  PLAYER_YAML: "$ARCHIPELAGO/Players/Miku.yaml"
  RELEASE_ARCHIPELAGO: https://api.github.com/repos/ArchipelagoMW/Archipelago/releases
  RELEASE_DIVAAPWORLD: https://api.github.com/repos/Cynichill/DivaAPworld/releases

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Archipelago | Setup
        run: |
          wget -qnv -O - $RELEASE_ARCHIPELAGO |
            jq '[.[].assets[] | select(.browser_download_url | endswith(".tar.gz"))][0].browser_download_url' |
            xargs wget -nv -P /tmp
          mkdir $ARCHIPELAGO
          tar xzf /tmp/Archipelago*.tar.gz -C /tmp/
          chmod +x $ARCHIPELAGO/ArchipelagoGenerate

      - name: World | Setup
        run: |
          wget -q -O - $RELEASE_DIVAAPWORLD |
            jq '[.[].assets[] | select(.browser_download_url | endswith(".apworld"))][0].browser_download_url' |
            xargs wget -nv -P /tmp -O /tmp/megamix.apworld
          7z x /tmp/megamix.apworld -o/tmp/
          rm /tmp/megamix.apworld
          ln -s $TMP_WORLD $ARCHIPELAGO/lib/worlds/

      - name: World | Apply early diffs
        run: |
          cd $TMP_WORLD
          git apply --ignore-space-change --ignore-whitespace -v $GITHUB_WORKSPACE/diffs/early/*.diff
          cd -
          
      - name: World | Sanity check (early diff)
        run: |
          $ARCHIPELAGO/ArchipelagoLauncher "Open host.yaml" 2>/dev/null
          $ARCHIPELAGO/ArchipelagoLauncher "Generate Template Options" 2>/dev/null
          cp "$ARCHIPELAGO/Players/Templates/Hatsune Miku Project Diva Mega Mix+.yaml" "$ARCHIPELAGO/Players/Miku.yaml"
          parallel -N0 --halt now,fail=1 $ARCHIPELAGO/ArchipelagoGenerate --skip_prog_balancing --skip_output ::: {1.. $ROUNDS}

      - name: World | Apply late diffs
        run: |
          cd $TMP_WORLD
          git apply --ignore-space-change --ignore-whitespace -v $GITHUB_WORKSPACE/diffs/late/*.diff || exit 0
          cd -

      - name: World | Sanity check (late diff)
        run: |
          $ARCHIPELAGO/ArchipelagoLauncher "Generate Template Options" 2>/dev/null
          cp -f "$ARCHIPELAGO/Players/Templates/Hatsune Miku Project Diva Mega Mix+.yaml" "$ARCHIPELAGO/Players/Miku.yaml"
          parallel -N0 --halt now,fail=1 $ARCHIPELAGO/ArchipelagoGenerate --skip_prog_balancing --skip_output ::: {1..$ROUNDS}

      - name: World | Zip
        run: |
          cd /tmp
          rm -rf /tmp/megamix/__pycache__/ /tmp/megamix/.idea/
          7z a -tzip megamix.apworld megamix/
          cd -

      #- name: World | Artifact
      #  uses: actions/upload-artifact@v4
      #  with:
      #    name: artifact-apworld
      #    path: /tmp/megamix.apworld

      - name: World | Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        if: github.event_name != 'pull_request'
        run: |
          BASE=$(wget -q -O - $RELEASE_DIVAAPWORLD | jq -cr '[.[] | select(.assets[].browser_download_url | endswith(".apworld"))][0].tag_name')
          DATE=$(date +"%y%m%d") # T%H%M%S
          TAG=$(git rev-parse --short HEAD)
          gh release create "${BASE}-R_${DATE}-${TAG}" \
              --repo="$GITHUB_REPOSITORY" \
              --title="$TITLE" \
              --target=main \
              --generate-notes \
              /tmp/megamix.apworld \
              "$ARCHIPELAGO/Players/Templates/Hatsune Miku Project Diva Mega Mix+.yaml"
          
        #cd $TMP_WORLD
        #git apply --ignore-space-change --ignore-whitespace -v $GITHUB_WORKSPACE/diffs/early/0_mod_folder.diff
        #cd -
