name: CI
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

env:
  ROUNDS: 2
  ARCHIPELAGO: /tmp/Archipelago/
  TMP_WORLD: /tmp/megamix/
  LIB_WORLD: "$ARCHIPELAGO/worlds/megamix/"
  PLAYER_YAML: "$ARCHIPELAGO/Players/Miku.yaml"
  RELEASE_ARCHIPELAGO: https://api.github.com/repos/ArchipelagoMW/Archipelago/releases
  RELEASE_DIVAAPWORLD: https://api.github.com/repos/Cynichill/DivaAPworld/releases

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          cache: 'pip'

      - name: Archipelago | Setup
        run: |
          cd /tmp
          git clone https://github.com/ArchipelagoMW/Archipelago
          cd $ARCHIPELAGO
          python -m pip install --upgrade pip
          pip install pytest pytest-subtests pytest-xdist
          python ModuleUpdate.py --yes --force --append "WebHostLib/requirements.txt"
          python Launcher.py --update_settings

      - name: World | Setup
        run: |
          wget -q -O - $RELEASE_DIVAAPWORLD |
            jq '[.[].assets[] | select(.browser_download_url | endswith(".apworld"))][0].browser_download_url' |
            xargs wget -nv -P /tmp -O /tmp/megamix.apworld
          7z x /tmp/megamix.apworld -o/tmp/
          rm /tmp/megamix.apworld
          ln -s $TMP_WORLD $ARCHIPELAGO/worlds/
          cd $ARCHIPELAGO
          python Launcher.py "Generate Template Options" 2>/dev/null

      - name: World | Apply early diffs
        run: |
          cd $TMP_WORLD
          git apply --ignore-space-change --ignore-whitespace -v $GITHUB_WORKSPACE/diffs/early/*.diff
          cd -
          
      #- name: World | Sanity check (early diff)
      #  run: |
      #    cd $ARCHIPELAGO
      #    python Launcher.py "Open host.yaml" 2>/dev/null
      #    python Launcher.py "Generate Template Options" 2>/dev/null
      #    cp "Players/Templates/Hatsune Miku Project Diva Mega Mix+.yaml" "Players/Miku.yaml"
      #    parallel -N0 --halt now,fail=1 python Generate.py --skip_prog_balancing --skip_output ::: {1.. $ROUNDS}

      - name: World | Apply late diffs
        run: |
          cd $TMP_WORLD
          git apply --ignore-space-change --ignore-whitespace -v $GITHUB_WORKSPACE/diffs/late/*.diff || exit 0
          cd -

      #- name: World | Sanity check (late diff)
      #  run: |
      #    cd $ARCHIPELAGO
      #    python Launcher.py "Generate Template Options" 2>/dev/null
      #    cp -f "Players/Templates/Hatsune Miku Project Diva Mega Mix+.yaml" "Players/Miku.yaml"
      #    parallel -N0 --halt now,fail=1 python Generate.py --skip_prog_balancing --skip_output ::: {1..$ROUNDS}

      - name: World | Fuzzer
        run: |
          cd $ARCHIPELAGO
          curl "https://raw.githubusercontent.com/Eijebong/Archipelago-fuzzer/refs/heads/main/fuzz.py" > fuzz.py
          python fuzz.py -g megamix -j 2 -r 100

      #- name: World | General tests
      #  run: |
      #    cd $ARCHIPELAGO
      #    pytest test/general worlds/megamix

      - name: World | Zip
        run: |
          cd /tmp
          rm -rf /tmp/megamix/__pycache__/ /tmp/megamix/.idea/ /tmp/megamix/sorted_mod_pv_db.txt
          7z a -tzip megamix.apworld megamix/

      - name: World | Artifact
        uses: actions/upload-artifact@v4
        with:
          name: artifact-apworld
          path: /tmp/megamix.apworld

      - name: World | Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        if: github.event_name == 'workflow_dispatch'
        run: |
          BASE=$(wget -q -O - $RELEASE_DIVAAPWORLD | jq -cr '[.[] | select(.assets[].browser_download_url | endswith(".apworld"))][0].tag_name')
          DATE=$(date +"%y%m%d") # T%H%M%S
          TAG=$(git rev-parse --short HEAD)
          gh release create "${BASE}-R_${DATE}-${TAG}" \
              --repo="$GITHUB_REPOSITORY" \
              --title="$TITLE" \
              --target=main \
              --generate-notes \
              /tmp/megamix.apworld \
              "$ARCHIPELAGO/Players/Templates/Hatsune Miku Project Diva Mega Mix+.yaml"
